# Ignore files auto-created by Python
__pycache__/
*.pyc

# Ignore venv
venv/
env/
.env

# Ignore files created by the OS 
.DS_Store
.directory
*~

# Ignores data folder (If wanted)
# data/

# LaTex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
# Remover mais tarde se quiser enviar o pdf para o Git
*.pdf
ref/*.png
